<form [formGroup]="forgotPwdForm" (ngSubmit)="onFormSubmit()">
  <ion-header>
    <ion-toolbar class="background-color">
      <ion-buttons slot="start">
        <ion-button (click)="this.modalController.dismiss();"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title>Recover Password</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item lines="full">
    <ion-label position="floating">You will receive an e-mail to reset your password</ion-label>
    <ion-input placeholder="Your e-mail adress" type="email" formControlName="forgotEmail" required></ion-input>
  </ion-item>

  <ion-text color="danger">
    <ion-label *ngIf="forgotPwdForm.invalid && forgotPwdForm.get('forgotEmail').touched && forgotPwdForm.get('forgotEmail').errors">
      <small *ngIf="forgotPwdForm.get('forgotEmail').errors.email">Not a valid email</small>
    </ion-label>
  </ion-text>

  <ion-row>
    <ion-col>
      <ion-button [disabled]="!forgotPwdForm.valid" type="submit" color="warning" expand="block">Send e-mail</ion-button>
    </ion-col>
  </ion-row>

</form>
