<ion-header [translucent]="true">
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{list.name}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [hidden]="list.owner != currentUserEmail" (click)="openShareModal()">
        <ion-icon color="primary" name="share-social-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-item-sliding *ngFor="let t of list.todos">
      <ion-item button routerLink="todo-details/{{ t?.id }}" routerLinkActive="active">
        <ion-icon color="primary" slot="end" name="create-outline"></ion-icon>
        <ion-label> {{ t?.name }} </ion-label>
        <ion-checkbox [disabled]="!(list.owner === currentUserEmail || list.canWrite.indexOf(currentUserEmail) != -1)" checked="{{t?.isDone}}" color="warning" slot="start" (click)="$event.stopPropagation();isDone(t)"></ion-checkbox>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteTodo(t)" >
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-button [hidden]="!(list.owner === currentUserEmail || list.canWrite.indexOf(currentUserEmail) != -1)" color="warning" expand="block" (click)="presentModal()">Add a new item</ion-button>
</ion-footer>
