<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
  <ion-header>
    <ion-toolbar class="background-color">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Log In</ion-title>
    </ion-toolbar>
  </ion-header>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input placeholder="Your e-mail adress" type="email" formControlName="loginEmail" required></ion-input>
    </ion-item>


    <ion-text color="danger">
      <ion-label *ngIf="loginForm.invalid && loginForm.get('loginEmail').touched && loginForm.get('loginEmail').errors">
          <small *ngIf="loginForm.get('loginEmail').errors.required">Field is required</small>
          <small *ngIf="loginForm.get('loginEmail').errors.email">Not a valid email</small>
      </ion-label>
    </ion-text>


    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input placeholder="Your password" type="password" formControlName="loginPassword" required></ion-input>
    </ion-item>


    <ion-text color="danger">
      <ion-label *ngIf="loginForm.invalid && loginForm.get('loginPassword').touched && loginForm.get('loginPassword').errors">
      <small *ngIf="loginForm.get('loginPassword').errors.required">Field is required</small>
      </ion-label>
    </ion-text>


    <ion-row>
      <ion-col>
        <ion-button [disabled]="!loginForm.valid" type="submit" color="success" expand="block">Sign In</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/register']" color="warning" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
</form>

<ion-item class="ion-align-self-center">
  <a (click)="presentModal()" class="small-text ion-text-center">
    <ion-text  color="secondary"><h4>Forgot password</h4></ion-text>
  </a>
</ion-item>

