<ion-header [translucent]="true">
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/list-details/{{listId}}"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Task View
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item class="ion-text-wrap">

    <ion-text color="primary"><ion-label position="floating">Task Name</ion-label></ion-text>
    <ion-input [readonly]="!(listTodo.owner === currentUserEmail || listTodo.canWrite.indexOf(currentUserEmail) != -1)" [(ngModel)]="todoName" (change)="updateName()"></ion-input>
  </ion-item>

  <ion-item class="ion-text-wrap">
    <ion-text color="primary"><ion-label position="floating">Task Description</ion-label></ion-text>
    <ion-textarea wrap="off" [readonly]="!(listTodo.owner === currentUserEmail || listTodo.canWrite.indexOf(currentUserEmail) != -1)" [(ngModel)]="todoDesc" (change)="updateDescription()"></ion-textarea>
  </ion-item>


</ion-content>

