
<ion-header [translucent]="true">
  <ion-toolbar class="background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Todo Lists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="menu" contentId="main">
  <ion-header>
    <ion-toolbar class="background-color">
      <ion-title>Logged in as {{userEmail}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-toolbar><ion-button expand="block" fill="clear" color="danger" (click)="logout()">Logout</ion-button></ion-toolbar>
  </ion-content>
</ion-menu>
<ion-router-outlet id="main"></ion-router-outlet>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lists</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-sliding *ngFor="let l of todoLists">
      <ion-item button routerLink="list-details/{{ l?.id }}" routerLinkActive="active">
        <ion-label>{{ l?.name }}</ion-label>
        <ion-icon color="primary" slot="end" name="eye-outline"></ion-icon>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option [hidden]="!(l.owner === userEmail || l.canWrite.indexOf(userEmail) != -1)" color="danger" (click)="deleteList(l)" >
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-button color="warning" expand="block" (click)="presentModal()">Add a new list</ion-button>
</ion-footer>
